<% @comments.each do |comment| %>
<div id="comment_<%= comment.id %>">
<%= time_ago_in_words(comment.updated_at)%> ago by <%= current_user.name %><br>
<%= comment.comment %>
<%if can? :update, comment %>
  <%= link_to "Edit", edit_post_comment_path(post_id: @post.id, id: comment.id),remote: true%>
<% end %>
<%if can? :destroy, comment %>
  <%= link_to "Delete", post_comment_path(post_id: @post.id, id: comment.id), method: :delete,remote: true %><br>
<% end %>
</div>
<% end %>