<div id="form-modal">
<%= form_for [topic,post], validate: true,:html=> {multipart: true}, remote: true do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title , validate: { presence: true } %></p>
  <p>
    <%= f.label :image %><br>
    <%= f.file_field :image %></p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description ,validate: true ,required: true%>
  </p>
  <h3>Create Tag OR choose a tag</h3>
  <div class="field">
    <%= f.label "Choose a tag" %><br>
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :tag do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>
  <% if flag==1 %>
    <%= f.fields_for :tags do |builder| %>
    <div class="form-group">
      <fieldset>
        <%= builder.label "Create a new Tag" %>
        <%= builder.text_field :tag, {:class => 'form-control', :placeholder => 'Enter a new Tag'} %>
      </fieldset>
    </div>
  <% end %>
    <% else %>
    <%= f.fields_for :tags,post.tags.build do |builder| %>
      <div class="form-group">
        <fieldset>
          <%= builder.label "Create a new Tag" %>
          <%= builder.text_field :tag, {:class => 'form-control', :placeholder => 'Add a new Tag'} %>
        </fieldset>
      </div>
    <% end %>
    <% end %>

  <p>
    <%= f.button  button_label, class: "btn btn-success ",id: "submit", data: {disable_with: "<i class: 'fa fa-spinner fa-spin' ></i> Saving..."} %>
  </p>
<% end %>
</div>