<%= form_for ([topic, post]) do |f| %>
  <% if post.errors.any? %>
    <% post.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %></p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <h3>Create Tag OR choose a tag</h3>
  <div class="field">
    <%= f.label "Choose a tag" %><br>
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :tag do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>
  <%= f.fields_for :tags do |builder| %>
    <fieldset>
      <%= builder.label :tag %><br>
      <%= builder.text_field :tag %>
      <%= builder.check_box :_destroy %>
      <%= builder.label :_destroy, "Remove Tag" %>
    </fieldset>
  <% end %>
  <p>
    <%= f.submit button_label, class: "btn btn-success" %>
  </p>
<% end %>