<div class="col-sm-6 col-lg-4">
  <div class="card">
    <div class="card-topper"<%=image_tag post.image.url(:medium) %> ></div>
    <div class="card-block">
      <h4 class="card-title"><%= link_to post.title, topic_post_path(topic_id: post.topic_id,id: post.id)%><%= "(#{post.topic.topic})" %><br></h4>
      <p class="card-text"><%= truncate(post.description,length:30) %></p>
      <%= "Avg.rate:#{post.ratings.average(:rate).to_f.round(2)}"%><br>
      <%= "#{post.comments.count} comments" %><br>
      <%= link_to 'Read',topic_post_path(topic_id: post.topic_id,id: post.id),class: 'btn btn-read' %>
    </div>
  </div>
</div>