<%provide(:page_title,@title.topic) %>
<h1>Posts</h1>
<h2><%= @title.topic %></h2>
<div class="row">
  <% @post.each do |post|  %>
    <%= post.comments.length %>
    <%= render post %>
  <% end %>
</div>
<%= will_paginate @post ,previous_lable: '<',next_lable: '>' %>
<%= link_to 'Add Post',new_topic_post_path %>