<% if params[:topic_id].present? %>
  <%provide(:page_title,@topic.topic) %>
  <h2><%= @topic.topic %></h2>
  <%= link_to "Add Post",new_topic_post_path%><br>
  <% else %>
  <h1>Posts</h1>
  <%provide(:page_title,"ALL") %>
  <% end %>
  <% @posts.each do |p| %>
    <%= link_to p.title,topic_post_path(topic_id: p.topic_id,id: p.id)%>
    <%= "(#{p.topic.topic})" %><br>
  <%end %>
<%= will_paginate @posts ,previous_lable: '<',next_lable: '>' %>