<%provide(:page_title,@post.name) %>
<h3 align="center"><%= "#{@post.name}(#{@topic.topic})"%></h3><br>
<p align="justify">
  <%= @post.description %></p>
  <br>
<%= link_to 'Edit',edit_post_path(@post) %>

<% if @tags.exists? %>
<h2>Tags associated</h2>
<% @tags.each do |t|  %>
    <%='#'%><%=link_to t.tag, '#'   %>
<% end  %>
  <% end %>

<%= form_tag(controller: :posts,action: :rate,method: :post) do %>
  <% for i in 1..5  %>
    <%= radio_button_tag(:rate,i) %>
    <%= label_tag('name',i) %>
    <% end  %>
    <%= submit_tag('Rate',name: @post.id) %>
  <% end %>
<%t=0 %>
<% @rate.each do |k,v| %>
  <%t.times do  %>
    &nbsp
    <% end %>
  <%k.times do  %>
    <%="*"%>
    <% end %>
  <%= v %><br>
    <%t=t+1 %>
  <% end %>



<div class="jumbotron">


<%= "Comments(#{@post.comments.count})" %><br>
<% @comment.each do |c| %>
  <%= c.created_at.to_date %><br>
<%= c.comment %><%= link_to "Delete", comment_path(c.id),method: :delete%><br>
  <% end %>
  <%= link_to "Add Comment",new_post_comment_path(post_id: @post.id) %>
<p><%= link_to "Delete", post_path(@post),
                   :data => {:confirm => "You sure?",
                             :method => "delete"} %></p>
</div>

<%= will_paginate @comment ,previous_lable: '<',next_lable: '>' %>