<h1>Posts</h1>
<h2><%= @title.topic %></h2>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>#TAG</th>
    <th>DESCRIPTION</th>
    <th>Topic_ID</th>
  </tr>
  </thead>
  <tbody>
  <% @topic.each do |t|  %>
    <tr>
      <td><%= t.id %></td>
      <td><%= t.name %></td>
      <td><%= t.hastag %></td>
      <td><%= t.description %></td>
      <td><%= t.topic_id %></td>
    </tr>
  <% end %>
  </tbody>
</table>